body {
  margin: 0 auto;
}

.small-container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  font-family: Nunito;
}

.component {
  background-color: white;
}

.photo {
  background-image: url('photo.jpg');
  height: 250px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  border-radius: 50%;
  margin: 32px 0;
}

.side-bar {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.skills-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bar {
  width: 200px;
  height: 8px;
  margin-top: 6px;
  margin-left: 120px;
  background: #cccccc;
  border: 2px solid #cccccc;
  border-radius: 5px;
}

.skill-title {
  float: left;
}

.score {
  height: 8px;
  background: #491C8A;
  border-radius: 5px;
}

.main-content {
  width: 800px;
}

.main-content h1 {
  color: #491C8A;
  margin-top:18px;
  margin-bottom: 0px;
  font-size: 32px;
}

.inside-container {
  margin: 24px 0;
}

.h3 {
  color: #491C8A;
  font-weight: 800;
}

.place-title {
  background-color: #491C8A;
  color: white;
  font-weight: 700;
  margin-bottom: 18px;
  text-align: center;
  border-bottom: 2px solid #491C8A;
}

.block-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.description {
  width: 640px;
  font-size: 16px;
}

.main-description {
  margin: 0px;
}

.h2 {
  margin-top: 18px;
  font-weight: 800;
  font-size: 18px;
}

.contact-item {
 display: flex;
 padding: 10px;
}

.h1 {
  font-size: 36px;
  font-weight: 700;
  color: #491C8A;
}

hr {
  margin: 18px 0px;
}

.row {
  display: flex;
  justify-content: row;
  margin: 12px 0;
}

.w-100 {
  width: 100%;
}

.border {
  border-bottom: 2px solid #491C8A;
}

.skill-icon {
  width: 70px;
}

.contact-icon {
  height: 34px;
  margin: 6px 10px;
}

.text-center {
  text-align: center;
}

.skill-col {
  align-items: center;
  margin: 10px;
}

.margin-bottom {
  margin-bottom: 32px;
}

b {
  color:#491C8A
}